body {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  color: blue;
}

p{
  font-size: 1.25em;
}

#my-game{
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid white;
}